langchain-core
langchain-openai
langchain-community
langchain-ollama
langserve
streamlit
dotenv
huggingface_hub 
transformers
fastapi
uvicorn 
sse_starlette
beautifulsoup4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia